<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thuchanh.app_banhang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vn"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APP_BanHang">
        <activity
            android:name=".MuaHang_Activity"
            android:exported="true" />
        <activity
            android:name=".GioHang_Activity"
            android:exported="true" />
        <activity
            android:name=".UpdateSP_Activity"
            android:exported="true" />
        <activity
            android:name=".BanHang_Activity"
            android:exported="true" />
        <activity
            android:name=".DangKy_Activity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>